@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.spinning-timer {
  animation: spin-180 0.3s linear infinite;
}